@font-face {
    font-family: Dotmatrx;
    src: url('../fonts/Courier_Prime.ttf');
	font-size: 2px;
}
* { margin: 0; padding: 0; }
body { }
#page-wrap { width: 720px; margin: 0 auto;font-family: "Dotmatrx";}


table { border-collapse: collapse; }
table td, table th {padding: 2px; font-size: 11px;line-height: 8px; text-transform:uppercase; }




#customer { overflow: hidden; }


#logo {
    border: 1px solid #fff;
    float: left;
    margin: 10px 0;
    max-height: 100px;
    max-width: 640px;
    position: relative;
    text-align: right;
    display: none;
}


#customer-title { font-size: 20px; font-weight: bold; float: left; }
.meta1
{
	margin-top: 1px; width: 400px; float: left;
}
.meta2
{
	margin-top: 1px; width: 320px; float: left;
}

#meta td { text-align: left;  }
.meta1 td.meta-head { text-align: left;vertical-align:top;width:100px;font-size: 12px; }
.meta2 td.meta-head { text-align: left;vertical-align:top;width:120px;font-size: 12px; }
#meta td textarea { width: 100%; height: 10px; text-align: right; }
#meta address{height:95px;}
#items { clear: both; margin: 1px 0 0 0px;}
#items th { vertical-align: top;}

#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { /*vertical-align: top;  word-break: break-all;*/ }
#items td.description { width: 200px; }
#items td.item-name { width: 80px; }
#items td.qty { width: 40px; }
#items td.cost { width: 80px; }
#items td.price { width: 40px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line {  text-align: right;padding:10px; }
#items td.gross-line {padding:10px; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0;float: left;
  width: 100%; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}
#footer{width:560px;  margin: 10px 0;float:left;}
#sign{width:230px;margin-top:10px;float:right;}
.last{  height: 240px;
  vertical-align: bottom;
  text-align: center;}
  
.print {
    float: right;
    margin-top: 5%;
}
 .onprint
   {
	   float: right;
    margin-top: 5%;
	   display: none;
	   height: 50px;
   }
.pi_bill {
    float: left;
    margin-left: 225px;
    width: 250px;
	color: #d0aa80;
	text-decoration:underline;
}

.pi_print {
    float: left;
    margin-left: 281px;
    margin-top: 20px;
}

.bill_head {
    color: #d0aa80;
    float: left;
    margin-left: 30%;
    margin-top: 1%;
    text-decoration: underline;
    width: auto;
    display: none;
}

@media print {
	
	@page 
    {
        size: auto;   
        margin: 0mm;  
    }

    body 
    {
        background-color:#FFFFFF; 
        border: solid 1px black ;
        margin: 0px;  
   }
  
   .print
   {
	   display: none;
   }
   .onprint
   {
	   float: right;
    	margin-top: 5%;
	   display: block;
	   height: 20px;
   }
}
.item-row > td:nth-child(1) {
    width: 50px;
}
.item-row > td:nth-child(2) {
    width: 150px;
}
.item-row > td:nth-child(3) {
    width: 330px;
}
.item-row > td:nth-child(4) {
    width: 120px;
}
.item-row > td:nth-child(5) {
    width: 60px;
}
.item-row > td:nth-child(6) {
    width: 120px;
}
.pro_items {
    display: inline-block;
    min-height: 374px;
}

#customer {
    display: inline-block;
    height: 115px;
    overflow: hidden;
}
.item-row{
	height:0px;
}
